body{
    margin: 0;
    background-color: #394648;
    font-family: system-ui;
}
    
.carousel{
    height: 650px;
    width: 1535px;
    margin: auto;

    img{
        height: 650px;
    }
}

.seccionPeliculas{

    .tittle{
    text-align: center;
    margin: 3rem 0;
    }

    .contPeliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1535px;
    margin: auto

    }

    .cardPelicula{
        margin: 0 0 2rem 0;
        width: 322px;
        height: 600px;
        border: none;
        border-radius: .7rem;
        display: inline-block;
        text-align: center;
        background-color: white;
        
        img{
            width: 322px;
            height: 476px;
            object-fit: cover;
            border-radius: .6rem .6rem 0 0;
        }

        .nombrePelicula{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: .5rem 0;
            padding: 0 .5rem;
            font-size: 15pt;
        }

        .generosPelicula{
            font-size: 10pt;
            margin: 0;
        }
        
        .horas{
            margin-top: 1.5rem;
        }
        
        .botones{
            width: 240px;
            padding: .5rem 0;
            margin-top: .5rem;
            font-size: 13pt;
            border-radius: .5rem;
            color: white;
            background-color: black;
            border: none;
            cursor: pointer;
        }
        .botones:hover{
            background-color: rgb(48, 48, 48);
        }
    }
}